body {
    background-image: url('https://i.pinimg.com/736x/e1/66/83/e1668355c8c5a68167b313837311d40f--happy-hedgehog-baby-hedgehog-cute.jpg') cover no-repeat;
}

#home_text {
  margin-left: 30%;
  margin-right: 10%;
  padding: 1px 16px;
  height: 500px;
}
